body {
  background-color: #1e1e28;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.resume-doc {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a6a5ae;

  a,
  h1 {
    color: #f9feff;
  }

  .url-wrapper {
    word-break: break-all;
  }

  b {
    font-weight: bolder;
  }

  h2 {
    color: #1e1e28;
    text-transform: uppercase;
    background: #a6a5ae;
    background: linear-gradient(90deg, #79c2d0 10%, rgb(166, 165, 174, 0) 100%);
    padding: 0.5rem;
  }

  h3 {
    color: #79c2d0;
  }

  h4 {
    color: #bbe4e9;
  }

  &__header {
    display: flex;
    flex-direction: column;
    background-image: url(./img/banner.png);

    &__avatar {
      display: flex;
      justify-content: center;
      padding: 2rem;

      .profile-pic {
        border: 1px solid #333;
        width: auto;
        height: auto;

        img {
          width: 80vw;
          max-width: 12rem;
        }
      }
    }

    &__description {
      background: #24242e;
      padding: 2rem;

      ul {
        list-style: none;
        padding: 0;
      }
    }
  }

  &__content {
    padding: 2rem;
  }

  .content-experience {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid #a6a5ae5e;

    &--job {
      width: 100%;
      white-space: normal;
      overflow-wrap: break-word;
      margin-bottom: 3rem;
    }
  }
}
