body {
  background-color: #1e1e28;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.resume-doc {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a6a5ae;

  h1 {
    color: #f9feff;
  }

  b {
    font-weight: bolder;
  }

  h2 {
    color: #53a8b6;
    text-transform: uppercase;
  }

  h3 {
    color: #79c2d0;
  }

  h4 {
    color: #bbe4e9;
  }

  &__header {
    display: flex;
    flex-direction: column;

    &__avatar {
      display: flex;
      justify-content: center;
      padding: 2rem;

      .profile-pic {
        border: 1px solid #333;
        width: auto;
        height: auto;

        img {
          max-width: 80vw;
        }
      }
    }

    &__description {
      background: #24242e;
      padding: 2rem;

      ul {
        list-style: none;
        padding: 0;
      }
    }
  }

  &__content {
    padding: 2rem;
  }

  .content-experience {
    &--job {
      margin-bottom: 3rem;
    }
    border-bottom: 3px dashed #a6a5ae;
  }
}
